html {
    --app-main: rgba(61, 187, 61, 0.75);
    --white: hsl(0, 0%, 99%);
    --light-grey: hsl(210, 11%, 96%);
    --med-grey: hsl(210, 11%, 88%);
    --grey: hsl(210, 11%, 60%);
    --black: #495057;
    --app-secondary: hsl(179, 53%, 46%);
}

body {
    align-items: center;
    background-color: var(--light-grey);
    display: flex;
    font-family: "Arial";
    height: 100vh;
    justify-content: center;
    margin: 0;
}

header {
    text-align: end;
    background-color: var(--app-main);
    padding: 0 1em;
    color: var(--white);
}

footer {
  padding-top: 1rem;
}

footer .left, footer .right {
    display: inline-block;
    width: 50%;
}

footer .right {
    display: inline-flex;
    justify-content: flex-end;
}

ol, ul {
    flex: 1;
    margin-top: 1rem;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    overflow: auto;
}

ol {
    padding-left: 2.1rem;
}

li {
    padding: .75rem 1.25rem;
    margin-bottom: 0.25rem;
    background-color: #fff;
    border: solid 1px var(--med-grey);
    color: var(--black);
    border-radius: .25rem;
}

li.completed {
    opacity: 0.5;
    text-decoration: line-through;
}

li:hover {
    cursor: pointer;
}

.app {
    background-color: var(--white);
    -webkit-box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.3);
    flex-direction: column;
    display: flex;
    height: 92vh;
    max-width: 90vw;
    padding: 1em;
    width: 40rem;
}

.empty-list {
    color: var(--grey);
    text-align: center;
    margin-top: 1rem;
    flex: 1;
}

.add-todo {
    padding: 1rem 0;
    display: flex;
    border-bottom: solid 1px var(--med-grey);
}

.add-todo .submit {
    border: solid 1px var(--med-grey);
    color: var(--grey);
    font-size: 1.2rem;
    padding: 0.5rem 0.75rem;
}

input {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

input[type="text"] {
    background-color: var(--light-grey);
    border: solid 1px var(--med-grey);
    border-radius: 2px;
    flex: 1;
    padding: 0.5rem 0.75rem;
    font-size: 1.2rem;
    transition: border-color 0.2s, background-color 0.2s;
}

input[type="text"]::placeholder {
    color: var(--grey);
}

input[type="text"]:focus {
      outline: none;
      background-color: var(--white);
      border-color: var(--app-secondary);
}
